.App {
  max-width: 860px;
  margin: 40px auto;
}

button {
  background: none;
  border: 2px solid #000;
  padding: 6px 12px;
  border-radius: 4px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.9em;
}
button:hover {
  background: #000;
  color: #fff;
}
.nav-item {
  font-family: Ultra;
  display: inline-block;
  margin-right: 20px;
  padding: 10px;
}

.nav-item a {
  color: #000;
  text-decoration: none;
}

.nav-item a:hover {
  color: goldenrod;
}

.text {
  font-style: italic;
  font-size: 0.7em;
}

.card-table {
  background-color: #e9d09f;
  padding: 20px;
  border-radius: 10px;
}
